body {
    background-image: url('./images/hubble_ultra_deep_field.jpg'); /* https://en.wikipedia.org/wiki/Universe */
    background-color: antiquewhite;
    color: #e8e8ff;
    display: block;
    flex-direction: column;
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;

}

.header-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: larger;
    text-align: center;
}
.header-container>h1 {
    background-color: #e8e8ff;
    padding: 12px;
    border-radius: 8px;
}
.game-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 auto 0 auto;
}
.game-header {
    margin-top: -1rem;
    text-align: center;
    color: black;
    font-size: 20px;
    text-decoration: underline;
    background-color: #e8e8ffb6;
    padding: 12px;
    border-radius: 8px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.choice-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.choice-text {
    font-weight: bold;
    color: peru;
    font-size: 22px;
    background-color: #000000a4;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 12px 4px 12px;
    border-radius: 8px;
}
.choice-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.choice-images>img {
    width: 30%;
    height: auto;
    max-height: 30vh;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 4rem
}
.game-button {
    border-radius: 8px;
    box-shadow: inset;
    background-color: rgb(0, 138, 192);
    width: 20%;
    max-width: 225px;
}
.game-button>img {
    width: 40%;
}
.footer {
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 104, 104);
}
#endGameModal {
    display: none;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 42px;
    color:rgb(0, 138, 192);
    font-weight: bolder;
}
#playAgain {
    background:rgb(255, 104, 104);
    border-radius: 8px;
    box-shadow: inset;
    font-size: 48px;
    padding: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .game-button, .game-button>img {
        width: 30%;
    }
    .game-button {
        height: 60px;
    }
    .choice-text, .choice-container {
        margin-bottom: 2rem;
    }
}